
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="moose.png">

    <title>Jungle</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body class="text-center mt-5">
    <div class="container-fluid">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 " href="/dashboard">Jungle</a>
        </nav>
        <div class="row mt-1">
            <div class="ml-sm-auto col-lg-8 px-4 mt-2">
            </div>
            <div class="ml-sm-auto col-lg-2 px-4 mt-2">
                <form action="/login" method="get">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
            <div class=" ml-sm-auto col-lg-2 px-4 mt-2">
                <form method="get" action="/register">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>

        </div>

        <div class="row">
            <div class="ml-sm-auto col-lg-2 px-4 mt-5">
            </div>

            <div class="ml-sm-auto col-lg-8 px-4 mt-3">
                <div class="card ">
                    <div class="card-body">
                        <img class="w-25 h-25" src="moose.png" alt="Add picture of Jungle">

                        <h1 class="card-title h1 mb-3 font-weight-normal">Jungle</h1>
                        <br>
                        <h3>Find Your Beast</h3>
                    </div>
                </div>
            </div>

            <div class=" ml-sm-auto col-lg-2 px-4 mt-5">
            </div>
        </div>
            <div class="row">
                <div class="ml-sm-auto col-lg-2 px-4 mt-5">
                </div>
                <div class="ml-sm-auto col-lg-8 px-4 mt-5">
                    <h5>Jungle recommends the best restaurants to meet your individual preferences. Jungle uses natural languge processing and machine learning to analyze restaurant reviews to determine the quality of the restaurants. Jungle also runs on a recommendation algorith to show you restaurants that fit your filtering settings.</h5>
                </div>
                <div class="ml-sm-auto col-lg-2 px-4 mt-5">
                </div>
            </div>
    
        
    </div>
</body>
</html>