
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/moose.png">

    <title>Jungle</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body class="text-center mt-5">
    <div class="container-fluid">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 " href="/dashboard">Jungle</a>
            <div class="ml-sm-auto col-lg-8 px-4 mt-2">
            </div>
            <a class="btn btn-default" role="button" style="margin:5px;" href="/login">Login</a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-default" role="button" style="margin:5px;" href="/register">Register</a>
        </nav>
        <div class="row mt-1">
        </div>

        <div class="row">
            <div class="ml-sm-auto col-lg-2 px-4 mt-5">
            </div>

            <div class="ml-sm-auto col-lg-8 px-4 mt-3">
                <div class="card ">
                    <img class="w-25 h-25 mx-auto" src="/static/moose.png" alt="Add picture of Jungle">

                    <h1 class="card-title h1 mb-3 font-weight-normal">Jungle</h1>
                    <div class="card-body">
                        <h3>Find Your Beast</h3>
                    </div>
                </div>
            </div>

            <div class=" ml-sm-auto col-lg-2 px-4 mt-5">
            </div>
        </div>
            <div class="row">
                <div class="ml-sm-auto col-lg-2 px-4 mt-5">
                </div>
                <div class="ml-sm-auto col-lg-8 px-4 mt-5">
                    <h5>Jungle recommends restaurants to you based off of your food preferences and finds restaurants that similar users also like or dislike. Leave some reviews and jungle will be able to find you better restaurants that fit your needs. 
                            </h5><br><h5>
                            Jungle uses a machine learning algorithm called matrix factorization to determine the best restaurants for you. Soon, Jungle will be able to analyze your written reviews to determine your star rating based off of your reviews wording. 
                            </h5>
                </div>
                <div class="ml-sm-auto col-lg-2 px-4 mt-5">
                </div>
            </div>
    
        
    </div>
</body>
</html>
