{% extends "structure.html" %}
{% block main %}
  <div class="card">
      <div class="card-body">
          <form action="/preference" method="post" class="form-signin">
            <h2 class="card-title">Pick Your Taste...</h2>
            <div class="form-check form-check-inline ">
              <input class="form-check-input" type="checkbox" name="preference" value="Nightlife">
              <label class="form-check-label">Nightlife</label>
            </div>
            <div class="form-check form-check-inline ml-2">
              <input class="form-check-input" type="checkbox" name="preference" value="Bars">
              <label class="form-check-label">Bars</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Sandwiches">
              <label class="form-check-label">Sandwiches</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Burgers">
              <label class="form-check-label">Burgers</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Italian">
              <label class="form-check-label">Italian</label>
            </div>
            <br><hr><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="preference" value="Ice Cream & Frozen Yogurt">
              <label class="form-check-label">Ice Cream & Frozen Yogurt</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Coffee & Tea">
              <label class="form-check-label">Coffee & Tea</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Bakeries">
              <label class="form-check-label">Bakeries</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Bagels">
              <label class="form-check-label">Bagels</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Soup">
              <label class="form-check-label">Soup</label>
            </div>
            <br><hr><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="preference" value="Mediterranean">
              <label class="form-check-label">Mediterranean</label>
            </div>
            <div class="form-check form-check-inline ml-2">
              <input class="form-check-input" type="checkbox" name="preference" value="Asian Fusion">
              <label class="form-check-label">Asian Fusion</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Tapas">
              <label class="form-check-label">Tapas</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Seafood">
              <label class="form-check-label">Seafood</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Barbeque">
              <label class="form-check-label">Barbeque</label>
            </div>
            <br><hr><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="preference" value="Pizza">
              <label class="form-check-label">Pizza</label>
            </div>
            <div class="form-check form-check-inline ml-2">
              <input class="form-check-input" type="checkbox" name="preference" value="Thai">
              <label class="form-check-label">Thai</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Vegan">
              <label class="form-check-label">Vegan</label>
            </div> 
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Sushi Bars">
              <label class="form-check-label">Sushi Bars</label>
            </div>
            <div class="form-check form-check-inline ml-1">
              <input class="form-check-input" type="checkbox" name="preference" value="Ramen">
              <label class="form-check-label">Ramen</label>
            </div>
            <br><hr><br>
            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
          </form>
          {{ message }}
      </div>
  </div>


{% endblock main %}